* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0 50px;
}

.container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  gap: 20px;
  align-items: center;
  font-family: sans-serif;
  color: lightslategray;
  display: flex;
  justify-content: space-between;
}

.right-side ul {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
}

.container2 {
  display: flex;
  justify-content: space-between;
}

.main-title {
  h1 {
    margin: 0 auto;
    font-size: 3.5rem;
    font-weight: bolder;
  }
  p {
    margin-top: 10px;
    color: gray;
    text-align: left;
    line-height: 1.2;
  }
  font-family: sans-serif;
  text-align: left;
}

.btn1,
.btn2 {
  margin: 10px 0;
  border-radius: 20px;
  border: none;
  padding: 10px 40px;
  background-color: pink;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.btn {
  background-color: white;
  color: grey;
}
.header-img {
  margin-left: 100px;
}
.header h2 {
  margin-right: 50px;
  color: black;
}

.header-img img {
  background-size: contain;
  width: 500px;
  height: 350px;
}

.search-container {
  background-color: #3a2a5e;
  padding: 40px 20px;
  border-radius: 10px;

  margin: 50px auto;
  width: 100%;
}

form {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

input {
  padding: 12px;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: #2acfcf;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

button:hover {
  background-color: #26bdbd;
}

.title2 {
  text-align: center;
}

.title2 h2 {
  margin: 50px 0;
  font-size: xx-large;
  font-weight: bolder;
}

.title2 p {
  color: gray;
}

.cards-container {
  margin: 50px 0;
  text-align: center;
  display: flex;
  gap: 20px;
}

.card {
  padding: 10px;
  border-radius: 10px;
  width: 500px;
  height: 250px;
  background-color: cyan;
}

.circle {
  margin: 5px;
  width: 70px;
  height: 70px;
  background-color: #3a2a5e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.circle img {
  width: 40px;
  height: 40px;
}

.card h3 {
  margin: 10px;
  font-size: large;
  font-family: sans-serif;
  text-align: left;
}

.card p {
  margin: 10px;
  text-align: left;
  line-height: 1.5;
  color: gray;
  font-size: medium;
}

.title3 {
  width: 100%;
  height: 300px;
  background-image: url("footer.avif");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  margin-left: 0;
}

.title3 h2 {
  color: white;
}

.btn4 {
  padding: 20px 40px;
  margin: 0;
  background-color: #3a2a5e;
  cursor: pointer;
  border-radius: 30px;
}

.footer {
  background-color: #232029;
  padding: 40px 0;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  margin: 0 auto;
  gap: 250px;
}

.footer-logo {
  margin-left: 40px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 150px;
}

.footer-links {
  display: flex;
  gap: 60px;
}

.footer-column h4 {
  font-size: 16px;
  font-weight: bold;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-top: 8px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #b0b0b0;
  font-size: 14px;
}

.footer-column ul li a:hover {
  color: white;
}

.footer-socials {
  margin-right: 100px;
  display: flex;
  gap: 40px;
}

.footer-socials a {
  margin-bottom: 150px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.footer-socials a:hover {
  color: cyan;
}
