body {
  box-sizing: border-box;
  max-width: 900px;
  margin: 0 auto;
}
.container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  gap: 20px;
  align-items: center;
  font-family: sans-serif;
  color: lightslategray;
  display: flex;
  justify-content: space-between;
}

.right-side ul {
  display: flex;
  gap: 10px;
  list-style: none;
}

.container2 {
  display: flex;
  justify-content: space-between;
}

.main-title {
  h1 {
    margin: 0 auto;
    font-size: 3.5rem;
    font-weight: bolder;
  }
  p {
    margin-top: 10px;
    color: gray;
    text-align: left;
    line-height: 1.2;
  }
  font-family: sans-serif;
  text-align: left;
}

.btn1,
.btn2 {
  margin: 10px 0;
  border-radius: 20px;
  border: none;
  padding: 10px 40px;
  background-color: pink;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.header-img {
  margin-left: 100px;
}

.header-img img {
  background-size: contain;
  width: 500px;
  height: 350px;
}

.search-container {
  background-color: #3a2a5e;
  padding: 40px 20px;
  border-radius: 10px;
  margin: 0 auto;
  width: 100%;
}

form {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

input {
  padding: 12px;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
}

button {
  display: flex;
  background-color: #2acfcf;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

button:hover {
  background-color: #26bdbd;
}

.title2 {
  text-align: center;
}

.title2 h2 {
  font-size: larger;
  font-weight: bolder;
}

.title2 p {
  color: gray;
}

.cards-container {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 20px;
}

.card {
  border-radius: 10px;
  width: 300px;
  height: 200px;
  background-color: cyan;
}

.circle {
  margin: 5px;
  width: 70px;
  height: 70px;
  background-color: #3a2a5e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.circle img {
  width: 40px;
  height: 40px;
}

.card h3 {
  font-size: large;
  font-family: sans-serif;
  text-align: center;
}

.card p {
  color: gray;
  font-size: small;
  text-align: center;
}
